<%- include('./partials/header') %>
<div class="calendar-block">
  <h2>Successfully scheduled meeting with <%= organizer %></h2>
  <p>Meeting time - <%= meetingTime %> </p>
  <b><a href="<%= url %>" > back to listing </a></b>
</div>
<%- include('./partials/footer') %>